@page "/makes/create/"
@inject NavigationManager _navigationManager
@inject HttpClient _client

<h3 class="card-title">Create New Make</h3>
<hr />
<br />

<FormComponent make="@make" OnValidSubmit="@CreateMake" ButtonText="Create"/>


@code {

    Make make = new Make();

    async Task CreateMake()
    {
        await _client.PostAsJsonAsync(Endpoints.MakesEndpoint, make);
        _navigationManager.NavigateTo("/makes/");
    }

}