@page "/bookings/create/"
@using CarRentalManagement.Client.Services
@inject NavigationManager _navigationManager
@inject HttpClient _client
@inject HttpInterceptorService _interceptor;

<h3 class="card-title">Create New Booking</h3>
<hr />
<br />

<FormComponent booking="booking" ButtonText="Create" OnValidSubmit="OnValidSubmit"/>

@code {

    Booking booking = new Booking()
    {
        DateOut = DateTime.Now,
        DateIn = DateTime.Now
    };

    private async Task OnValidSubmit()
    {
        _interceptor.MonitorEvent();
        await _client.PostAsJsonAsync(Endpoints.BookingsEndpoint, booking);
        _navigationManager.NavigateTo("/bookings/");
    }

}